body{
	background-image: url("bgimage.jpg");
	background-position: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;

}

.nav-wrapper{
	background-color: #030303;
	color: #76ff03;
}

.nav-wrapper a{
	
	color: #76ff03;
}

.mybox{
	min-height: 500px;
	max-width: 900px;
	border: solid 1px;
    border-color: #76ff03;
}

.logo{
	height: 70px;
}

.logo h3{
	color: #76ff03;
	text-align: center;
}

#typed{
	color: #76ff03;
	font-size: 40px;
}

#typed1{
	color: #76ff03;
	font-size: 40px;
}

#typed2{
	color: #76ff03;
	font-size: 40px;
}

.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }