body{
	background-image: url("image2.jpg");
	background-position: fixed;
	background-size: cover;
	margin: 0px;
	padding: 0px;

}

iframe{
	background-color: transparent;
}

nav {
	background-color: transparent;
	text-align: center;
	
}

.nav-wrapper a{
	
	color: black;
}

.mybox{
	min-height: 500px;
	max-width: 900px;
	
    
}

.logo{
	height: 70px;
}

.logo h3{
	
	text-align: left;
}

#typed{
	color: black;
	font-size: 40px;
}

#typed1{
	color: #76ff03;
	font-size: 40px;
}

#typed2{
	color: black;
	font-size: 40px;
}

/*.typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }*/